* {
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
    color: black;
    border: 0px solid black;
    font-weight: 900;
}

/* 瀏覽頁 */
ul{
    margin: 0 0 0 33%;
    padding: 0;
    list-style: none;
}
ul.drop-down-menu{
    border: #ccc 0px solid;
    display: inline-block;
    font-size: 13px;
}
ul.drop-down-menu li{
    position: relative;
    white-space: nowrap;
    border-right: #ccc 1px solid;
}
ul.drop-down-menu > li:last-child{
    border-right: none;    
}
ul.drop-down-menu > li {
    float: left;
}
ul.drop-down-menu a {
    background-color: #fff;
    color: #333;
    display: block;
    padding: 0 30px;
    text-decoration: none;
    line-height: 40px;
}
ul.drop-down-menu a:hover {
    background-color: black;
    color: #fff;
}
ul.drop-down-menu li:hover>a {
    background-color: #40a3ff;
    color: #fff;
}
ul.drop-down-menu ul {
    border: #ccc 1px solid;
    position: absolute;
    z-index: 99;
    left: -1px;
    top: 100%;
    min-width: 180px;
}
ul.drop-down-menu ul li{
    border-bottom: 1px solid #ccc;
}
ul.drop-down-menu ul li:last-child {
    border-bottom: none;
}
ul.drop-down-menu ul {
    display: none;
}
ul.drop-down-menu li:hover> ul {
    display: block;
}
/* 封面logo */
.logo {
    text-align: center;
    margin: 50px auto 0 auto;
    width: 100%;
    height: 800px;
}
.logo a {
    text-align: left;
    position:relative;
    display: inline-block;
    width: 350px;
    padding: 0px;
    margin-left: 0px;
}
.logo a img {
    position:absolute;
    width: 100%;
}
.logo a img:last-child:hover{
     opacity:0;
}

/* 下滑頁面 */
h1 {
    font-size: 50px;
}
p {
    font-size: 20px;
    margin: 15px 0;
}
.button {
    margin: 20px 0;
    display: inline-block;
    border: 3px solid black;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: black;
    text-decoration: none;
}
.button:hover {
    color:white;
    background-color: #000000;
}
.main-1 {
    background-image: url(shop-2.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px 0px;
}
.box-1 {
    margin: 0px 0px;
    background-image: url(shop.jpg);
    background-size: cover;
}
.content-1 {
    margin: 150px 0px;
    text-align: center;
}

.main-2 {
    background-image: url(bean.jpg);
    background-size: cover;
    margin: 100px 0px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px 0px;
}
.box-2 {
    margin: 0px 0px;
    background-image: url(coffee.jpg);
    background-size: cover;
}
.content-2 {
    margin: 120px 0px;
    text-align: center;
}
.main-3 {
    background-image: url(sandwitch.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px 0px;
}
.box-3 {
    margin: 0px 0px;
    background-image: url(dessert.jpg);
    background-size: cover;
}
.content-3 {
    margin: 150px 0px;
    text-align: center;
}

/* 頁尾 */
footer {
    background-color: black;
    color: white;
    height: 200px;
}
footer .smallBox {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}
footer .smallBox  {
    text-align: center;
    color: #eee;
}
footer .smallBox img {
    width: 20px;
    margin: 0 20px;
}
footer hr {
    background-color: #ddd;
    height: 1px;
    width: 80%;
    margin: 0 auto;
}
footer .copyright {
    color: #ddd;
    text-align: center;
    padding-top: 50px;
}