* {
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
    color: black;
    border: 0px solid black;
    font-weight: 900;
}

/* 瀏覽頁 */
.nav {
    width: 100%;
    position: relative;
    display: -webkit-box;
}
ul{
    padding: 0;
    list-style: none;
}
ul.drop-down-menu{
    border: #ccc 0px solid;
    font-size: 13px;
    margin: 0 auto;
}
ul.drop-down-menu li{
    text-align: center;
    position: relative;
    white-space: nowrap;
    border-right: #ccc 1px solid;
}
ul.drop-down-menu > li:last-child{
    border-right: none;    
}
ul.drop-down-menu > li {
    float: left;
}
ul.drop-down-menu a {
    background-color: #fff;
    color: #333;
    display: block;
    padding: 0 30px;
    text-decoration: none;
    line-height: 40px;
}
ul.drop-down-menu a:hover {
    background-color: black;
    color: #fff;
}
ul.drop-down-menu li:hover>a {
    background-color: #40a3ff;
    color: #fff;
}
ul.drop-down-menu ul {
    border: #ccc 1px solid;
    position: absolute;
    z-index: 99;
    left: -1px;
    top: 100%;
    min-width: 180px;
}
ul.drop-down-menu ul li{
    border-bottom: 1px solid #ccc;
}
ul.drop-down-menu ul li:last-child {
    border-bottom: none;
}
ul.drop-down-menu ul {
    display: none;
}
ul.drop-down-menu li:hover> ul {
    display: block;
}
/* 封面logo */
.logo {
    background-image: url(shop-2.jpg);
    background-size: cover;
    text-align: center;
    margin: 7% auto;
    width: 100%;
    height: 500px;
}
.logo a {
    text-align: left;
    position:relative;
    display: inline-block;
    width: 350px;
    padding: 0px;
    margin:50px 0;
}
.logo a img {
    margin: 50px 0;
    position:absolute;
    width: 100%;
}
.logo a img:last-child:hover{
     opacity:0;
}

/* 下滑頁面 */
h1 {
    font-size: 50px;
}
p {
    font-size: 20px;
    margin: 15px 0;
}
.button {
    margin: 20px 0;
    display: inline-block;
    border: 3px solid black;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: black;
    text-decoration: none;
}
.button:hover {
    color:white;
    background-color: #000000;
}
.main-1 {
    background-image: url(shop-2.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px 0px;
}
.box-1 {
    margin: 0px 0px;
    background-image: url(shop.jpg);
    background-size: cover;
}
.content-1 {
    margin: 150px 0px;
    text-align: center;
}

.main-2 {
    background-image: url(bean.jpg);
    background-size: cover;
    margin: 100px 0px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px 0px;
}
.box-2 {
    margin: 0px 0px;
    background-image: url(coffee.jpg);
    background-size: cover;
}
.content-2 {
    margin: 120px 0px;
    text-align: center;
}
.main-3 {
    background-image: url(sandwitch.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px 0px;
}
.box-3 {
    margin: 0px 0px;
    background-image: url(dessert.jpg);
    background-size: cover;
}
.content-3 {
    margin: 150px 0px;
    text-align: center;
}

/* 頁尾 */
footer {
    background-color: black;
    color: white;
    height: 200px;
}
footer .smallBox {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}
footer .smallBox  {
    text-align: center;
    color: #eee;
}
footer .smallBox img {
    width: 20px;
    margin: 0 20px;
}
footer hr {
    background-color: #ddd;
    height: 1px;
    width: 80%;
    margin: 0 auto;
}
footer .copyright {
    color: #ddd;
    text-align: center;
    padding-top: 50px;
}

/* ABOUT */

.home {
    position:relative;
    width: 50px;
    padding: 0px;
    margin-left: 0px;
    text-decoration: none;
}
.home img:last-child:hover{
    opacity:0;
}
.home img {
    position:absolute;
    width: 250px;
}
.about-1.button:hover {
    color:white;
    background-color: #000000;
}
.about-1 {
    background-image: url(shop-2.jpg);
    background-size: cover;
    margin-top: 250px;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 0px 0px;
}
.about-1 .box {
    margin: 0px 50px;
    background-image: url(barista.jpg);
    background-size: cover;
}
.about-1 .content {
    margin: 0px 0px;
    text-align: left;
}
.about-2 {
    background-image: url(shop-2.jpg);
    background-size: cover;
    margin-top: 150px;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 0px 0px;
}
.about-2 .box {
    margin: 0 50px 0px 0;
    background-image: url(321.jpg);
    background-size: cover;
}
.about-2 .content {
    margin: 0px 50px;
    text-align: right;
}
.about-3 {
    background-image: url(shop-2.jpg);
    background-size: cover;
    margin: 250px 0;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 0px 0px;
}
.about-3 .box {
    margin: 0px 50px;
    background-image: url(dream.jpg);
    background-size: cover;
}
.about-3 .content {
    margin: 0px 0px;
    text-align: left;
}

/* MENU */
.menu {
    margin: 100px auto;
    width: 50%;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.menu-1 {
    display: grid;
}
.coffee {
    background-image: url(menu-coffee.jpg);
    background-size: cover;
}

.coffee:hover {
    transition: opacity 1s ease-in-out;
    opacity:0.3;
  }
.coffee h3:hover{
    opacity:1;
}
.dessert {
    background-image: url(menu-dessert.jpg);
    background-size: cover;
}
.dessert:hover {
    transition: opacity 1s ease-in-out;
    opacity:0.3;
  }
.sandwitch {
    background-image: url(menu-sandwitch.jpg);
    background-size: cover;
}
.sandwitch:hover {
    transition: opacity 1s ease-in-out;
    opacity:0.3;
  }


  /* coffee */

  .menu-coffee {
    margin: 150px auto;
    width: 50%;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:60px 30px; 
  }
  .menu-coffee div{
    background-color: rgba(63, 35, 3, 0.801);
    color: white;
    padding: 10px;
    text-align: center;

  }

   /* dessert */
  .menu-dessert {
    margin: 150px auto;
    width: 50%;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:60px 30px; 
  }
  .menu-dessert div {
    background-color: rgba(250, 69, 69, 0.589);
    color: white;
    padding: 10px;
    text-align: center;
  }

   /* sandwitch */
  .menu-sandwitch {
    margin: 150px auto;
    width: 50%;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:60px 30px; 
  }
  .menu-sandwitch div {
    background-color: rgb(255, 251, 0);
    color: white;
    padding: 10px;
    text-align: center;
  }

  /* contact */

.contact {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    margin: 150px 0 150px auto;
    color: #555;
}
.contact form {
    padding: 0 30px;
}
.contact form label, .contact form input, .contact form textarea {
    width: 100%;
}
.contact form label, .contact .contactMessage h3 {
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
}
.contact form input, .contact form textarea {
    border: 0.5px solid #ccc;
    border-radius: 10px;
}
.contact form input, .contact .contactMessage p {
    height: 50px;
}
.contact form input[type="submit"] {
    margin-top: 30px;
}